<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>About Us</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<header>
		<a href="/index">Home</a><br/>
		<a href="/contact">Contact Us</a><br/>
		<a href="/about">About Us</a>
		</header>

		<h1>We are THE Productivity Masters</h1>
		<p id="sunny">You will be the most Productive <strong>EVER</strong> after reading these 5 articles</p>
		<p class="light">Productivity, happiness, and abs guranteed.</p>
	

		<footer>
		<a href="/index">Home</a><br/>
		<a href="/contact">Contact Us</a><br/>
		<a href="/about">About Us</a>
		</footer>
	</body>
</html>